.selectorHeader {
    text-align: center;
    font-size: 2.6rem;
    color: #030027;
    margin-bottom: 20px;
}

.tripSelector {
    margin-top: 15%;
}

.tripInfoForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selectorItem {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.selectorLabel {
    /* text-align: center; */
    font-size: 2rem;
    color: #030027;
    font-weight: bold;
}

#submit {
    width: 100%;
}